.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  height: 100%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

