.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.menu-buttons button {
  padding: 15px 30px;
  font-size: 30px;
  
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #0077cc;
  color: white;
  transition: background-color 0.2s;
}

.menu-buttons button:hover {
  background-color: #005fa3;
}

#jogar {
  background-color: #FB8500;
}

#ajustes {
  background-color: #3FBFD7;
  font-weight: bold;
}

#perfil {
  background-color: #F9C216;
  font-weight: bolder;
}

#ajuda {
  background-color: #133E53;
}