/* Container geral */
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0096d6, #0069a3);
  position: relative;
  gap: 40px;
}

/* Botão Voltar */
.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: yellow;
  border: none;
  border-radius: 50%;
  font-size: 28px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

/* Painel esquerdo */
.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navio-img {
  width: 330px;
  height: auto;
  border-radius: 20px;
}

/* Caixa de texto sobre o navio */
.fact-box {
  margin-top: -250px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
}

.pagrafo_img {

}

.fact-box h2 {
  font-size: 32px;
  margin: 0;
}

.fact-box p {
  margin-top: 10px;
  font-size: 22px;
  width: 250px;
}

/* Linha vertical e avião */
.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linha {
  height: 330px;
}

.aviao {
  position: absolute;
  width: 50px;
}

/* Painel direito */
.right-panel {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.right-panel h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

label {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px 3px #000;
}

input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Botão confirmar */
.btn-confirm {
  width: 278px;
  height: 100px;
  padding: 12px;
  background: #FB8500;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  box-shadow: 2px 2px 4px #000;
}
