:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-body: linear-gradient(to bottom, #0B7EB9, #2BA2BF);
  --text-color: white;
  --h1-shadow: 2px 2px 4px black;

  --btn-login-bg: #FB8500;
  --btn-register-bg: #F9C216;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body { margin: 0; display: flex; place-items: center; min-width: 320px; min-height: 100vh; background: var(--bg-body); }

h1 { font-family: 'Baloo 2', cursive; font-weight: 600; font-size: 90px; line-height: 1.1; color: var(--text-color); text-shadow: var(--h1-shadow); }

.btn-home {
  display: flex;
  flex-direction: column; /* deixa um botão embaixo do outro */
  gap: 20px;              /* espaço entre eles */
  align-items: center;    /* centraliza horizontalmente */
  margin-top: 15px;
}

/* button {
  color: white;
  border-radius: 20px;
  height: 102px;
  width: 620px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

.btn-login { background-color: var(--btn-login-bg); height: 80px; color: white; font-weight: bold; padding: 15px 40px; border: none; border-radius: 12px; cursor: pointer; }

.btn-register { background-color: var(--btn-register-bg); height: 80px; font-weight: bold; padding: 15px 40px; border: none; border-radius: 12px; cursor: pointer; }

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark {
  --bg-body: linear-gradient(to bottom, #0A0A0A, #1A1A1A);
  --text-color: #f1f1f1;
  --h1-shadow: 2px 2px 6px rgba(0,0,0,0.8);

  --btn-login-bg: #C96A00;
  --btn-register-bg: #C9A200;
}
